
{{#loggedin}}
<div class="links">
    <div>
        <img src="/images/easy shop.png" alt="eashshop logo"> 
    </div>
    <a href="#" onclick="loadHome()">Home</a>
    <a href="#" onclick="editProfile()">Profile</a>
    <a href="#" onclick="showCart()">&nbsp;View&nbsp;Cart&nbsp;</a> <!-- the code in the middle of view and cart is to keep the words in one line -->

</div>

<div>
    <span style="font-family: futura; font-weight: bold; color: #fff; text-transform: uppercase;">Welcome&nbsp;<span style="font-weight: bold;">{{username}}</span></span>&nbsp;|&nbsp;<a href="#" class="logout-link" onclick="userService.logout();return false;" style="text-decoration: none;">Logout</a>
    <div class="cart" onclick="showCart()">
        <i class="fa-solid fa-cart-shopping"></i>
        <div id="cart-items">0</div>
    </div>
</div>
{{/loggedin}}
{{#loggedout}}
<div class="links">
    <div>
        <img src="/images/easy shop.png" alt="eashshop logo">
    </div>
    <a href="#" onclick="loadHome()">Home</a>
</div>

<div class="links">
    <a href="#" class="mr-5" onclick="showLoginForm();return false;">Login</a>
    <a href="#"  onclick="showRegisterForm();return false;">Register</a>
</div>
{{/loggedout}}
